<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/vaadin-valo-theme/vaadin-button.html">
<link rel="import" href="../bower_components/vaadin-valo-theme/typography.html">
<link rel="import" href="../bower_components/vaadin-valo-theme/color.html">
<link rel="import" href="../bower_components/vaadin-button/vaadin-button.html">


<dom-module id="bt-card">
  <template>
    <style>
      :host {
        display: block;
      }

      #card ::slotted(.title) {
        color: var(--valo-primary-text-color);
        font-size: var(--valo-font-size, var(--valo-font-size-xl));
        font-family: var(--valo-font-family);
      }

      #card ::slotted(.text) {
        color: var(--valo-secondary-text-color);
        font-size: var(--valo-font-size, var(--valo-font-size-m));
        font-family: var(--valo-font-family);
      }

    </style>

    <div id="card">
      <slot name="title"></slot>
      <slot name="text"></slot>
    </div>


  </template>

  <script>
    /**
     * `bt-card`
     * Simple Card Element
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class BtCard extends Polymer.Element {
      static get is() { return 'bt-card'; }
      static get properties() {
        return {   };
      }
    }

    window.customElements.define(BtCard.is, BtCard);
  </script>
</dom-module>
