<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/vaadin-valo-theme/typography.html">
<link rel="import" href="../bower_components/vaadin-valo-theme/color.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="bt-text-media-paragraph">
  <template>
    <style include="iron-flex iron-flex-alignment">
      :host {
        display: block;
      }

      .text {
        color: var(--valo-primary-text-color);
        font-size: var(--valo-font-size, var(--valo-font-size-m));
        font-family: var(--valo-font-family);
        margin-top: 0;
        text-align: justify;
        text-indent: 1em;
      }

      .media {
        /*padding: 1em;*/
        float: right;
        margin-left: 1em;
      }

    </style>
    <div>
      <div class="media"><slot name="media"></slot></div>
      <div class="text"><slot name="text"></slot></div>
    </div>

  </template>

  <script>
    /**
     * `bt-text-media-paragraph`
     * Text Media Paragraph
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class BtTextMediaParagraph extends Polymer.Element {
      static get is() { return 'bt-text-media-paragraph'; }
      static get properties() {
        return { };
      }
    }

    window.customElements.define(BtTextMediaParagraph.is, BtTextMediaParagraph);
  </script>
</dom-module>
