{#
/**
 * @file
 * Thumbnail pattern.
 */
#}
<link rel="import"
      href="/modules/contrib/bt_polymer_components/polymer/bt-text-media-paragraph/bt-text-media-paragraph.html">
<bt-text-media-paragraph>
    <div slot="media">{{ media }}</div>
    <div slot="text">{{ text }}</div>
</bt-text-media-paragraph>
