<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/vaadin-valo-theme/vaadin-button.html">
<link rel="import" href="../bower_components/vaadin-valo-theme/typography.html">
<link rel="import" href="../bower_components/vaadin-valo-theme/color.html">

<dom-module id="bt-lede-paragraph">
  <template>
    <style>
      :host {
        display: block;
        padding: 20px;
      }

      #lede ::slotted(p) {
        color: var(--valo-header-text-color);
        font-size: var(--valo-font-size, var(--valo-font-size-xxl));
        font-family: var(--valo-font-family);
        text-align: center;
      }
    </style>

    <div id="lede"><slot></slot></div>
  </template>

  <script>
    /**
     * `bt-lede-paragraph`
     * Lede Paragraph
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class BtLedeParagraph extends Polymer.Element {
      static get is() { return 'bt-lede-paragraph'; }
      static get properties() {
        return {  };
      }
    }

    window.customElements.define(BtLedeParagraph.is, BtLedeParagraph);
  </script>
</dom-module>
