<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="bt-table-paragraph">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <slot></slot>
  </template>

  <script>
    /**
     * `bt-table-paragraph`
     * Table Paragraph
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class BtTableParagraph extends Polymer.Element {
      static get is() { return 'bt-table-paragraph'; }
      static get properties() {
        return {  };
      }
    }

    window.customElements.define(BtTableParagraph.is, BtTableParagraph);
  </script>
</dom-module>
