<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="bt-quote-paragraph">
  <template>
    <style>
      :host {
        display: block;
      }

      #quote ::slotted(.quote) {
        color: var(--valo-header-text-color);
        font-size: var(--valo-font-size, var(--valo-font-size-xxl));
        font-family: var(--valo-font-family);
        text-align: center;
        margin-bottom: 10px;
      }

      #quote ::slotted(.source) {
        color: var(--valo-body-text-color);
        font-size: var(--valo-font-size, var(--valo-font-size-xs));
        font-family: var(--valo-font-family);
        text-align: right;
        font-style: italic;
      }

    </style>

    <div id="quote">
      <slot name="quote"></slot>
      <slot name="source"></slot>
    </div>
  </template>

  <script>
    /**
     * `bt-quote-paragraph`
     * Quote Paragraph
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class BtQuoteParagraph extends Polymer.Element {
      static get is() { return 'bt-quote-paragraph'; }
      static get properties() {
        return {  };
      }
    }

    window.customElements.define(BtQuoteParagraph.is, BtQuoteParagraph);
  </script>
</dom-module>
