<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/vaadin-valo-theme/typography.html">
<link rel="import" href="../bower_components/vaadin-valo-theme/color.html">

<dom-module id="bt-text-paragraph">
  <template>
    <style>
      :host {
        display: block;
      }
      #text ::slotted(p) {
        color: var(--valo-body-text-color);
        font-size: var(--valo-font-size, var(--valo-font-size-m));
        font-family: var(--valo-font-family);
      }
    </style>

    <div id="text"><slot></slot></div>
  </template>

  <script>
    /**
     * `bt-text-paragraph`
     * Simple Text Paragraph
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class BtTextParagraph extends Polymer.Element {
      static get is() { return 'bt-text-paragraph'; }
      //static get properties() {
      //  return {  };
      //}
    }

    window.customElements.define(BtTextParagraph.is, BtTextParagraph);
  </script>
</dom-module>
