<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="bt-gallery-paragraph">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `bt-gallery-paragraph`
     * Gallery Paragraph
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class BtGalleryParagraph extends Polymer.Element {
      static get is() { return 'bt-gallery-paragraph'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'bt-gallery-paragraph'
          }
        };
      }
    }

    window.customElements.define(BtGalleryParagraph.is, BtGalleryParagraph);
  </script>
</dom-module>
