{#
/**
 * @file
 * Thumbnail pattern.
 */
#}
<link rel="import" href="/modules/contrib/bt_polymer_components/polymer/bt-text-paragraph/bt-text-paragraph.html">
<bt-text-paragraph>{{ text }}</bt-text-paragraph>
